* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  /* font-weight: 400; */
  line-height: 1.4;
}
body {
  background-image: linear-gradient(to right, #022223, #045b5d);
  font-family: "Montserrat", sans-serif;
}
.calculator {
  width: 40rem;
  height: 70rem;
  border-radius: 2rem;
  margin: 10rem auto;
  background-color: #212222;
  box-shadow: 0 0 1em white;
}
.header {
  color: #dd4518;
  text-align: center;
  padding: 1em;
}
.title {
  font-size: 2.5rem;
  font-weight: lighter;
}
.titlePair {
  font-weight: 700;
}
.screen {
  background-color: #343434;
  height: 17rem;
  position: relative;
}
.screen_text {
  padding: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 3.5rem;
}
.calculator-keys {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-areas:
    "pie x-squared percent divide expand"
    "seven eight nine times expand"
    "four five six plus expand"
    "one two three minus expand"
    "zero decimal clear equal expand";
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.zero {
  grid-area: zero;
}
.decimal {
  grid-area: decimal;
}
.clear {
  grid-area: clear;
}
.times {
  grid-area: times;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.equal {
  grid-area: equal;
}
.expand {
  grid-area: expand;
}

.btn {
  width: 6rem;
  height: 6rem;
  background-color: #343434;
  color: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin: 1rem;
}
.btn_green {
  background-color: #045b5d;
  color: #00f7ff;
}
.btn_green:active,
.btn_green:focus {
  background-color: #02393a;
}
.btn_grey:active,
.btn_grey:focus {
  background-color: #1d1c1c;
}
.btn_fontSpecial {
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
}

.sup {
  font-size: 2rem;
}
