* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  background-image: linear-gradient(to right, #022223, #045B5D);
  font-family: "Montserrat", sans-serif;
}
.calculator {
  width: 35rem;
  height: 50rem;
  border-radius: 2rem;
  margin: 10rem auto;
  background-color: #212222;
  box-shadow: 0 0 1em white;
}
.header {
  color: #DD4518;
  text-align: center;
  padding: 1em;
}
.title {
  font-size: 2.5rem;
  font-weight: lighter;
}
.titlePair {
  font-weight: 700;
}
