* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  /* background-color: aqua; */
  /* background-image: linear-gradient(to right, #4b4b7e, #8484f0); */
  /* background-image: -webkit-linear-gradient(right, orange, pink); */
  background: linear-gradient(to bottom, rgb(196, 61, 61) 0%, #eee 100%);
}
